{% extends "base.html.twig" %}


{% block stylesheets %}

	<style>
		#technicien li:hover,
		#clients li:hover {
			cursor: pointer;
			background-color: #cfe2ff;
			padding-left: 0;
			width: 100%;

		}
	</style>

{% endblock %}

{% block body %}


	{% if form is defined %}
		{{ form_errors(form) }}
		{{form_start(form)}}
		{{ form_row(form._token) }}
	{% endif %}

	<div class="card">
		<div class="alert-primary card-header h5 py-2" style="background-color:#d8dbdf; color:black;">
			<b>
				Edition d'un bon d'intervention
			</b>

		</div>
		<div class="card-body">

			<div class="row">


				<div class="col-md-3">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Date</span>
						<input type="text" class="form-control no-edit" value="{% if intervention.date is defined %} {{intervention.date|date("d-m-Y")}} {%endif%}" aria-label="marque" aria-describedby="basic-addon1">
					</div>
				</div>

				<div class="col-md-3">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Intervention N°</span>
						<input type="text" class="no-edit form-control" value="{% if intervention.id is defined %}{{intervention.id}} {% endif %}" aria-label="Intervention" aria-describedby="basic-addon1">
					</div>
				</div>

				<div class="col-md-3">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Technicien</span>


						<input type="text" class="form-control no-edit" value="{% if intervention.technicien.nom is defined %} {{intervention.technicien.nom }} {{intervention.technicien.prenom }} {% endif %}" aria-label="technicien" aria-describedby="basic-addon1">

					</div>
				</div>


				<div class="col-md-3">
					<div class="form-check form-switch mb-3 ">

						{% if form is defined %}
							{{form_widget(form.status)}}
						{% else %}

							<span class="form-check-label" id="basic-addon1">Terminée</span>
							<input type="checkbox" class="form-check-input" aria-label="status" {% if intervention.status is defined and intervention.status==true %} checked {% endif %} aria-describedby="basic-addon1">

						{% endif %}

					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-10 mt-3">
					<h5>
						<b>Client</b>
					</h5>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">

					<div class="input-group mb-3 mx-1">
						<span class="input-group-text " id="basic-addon1">Société</span>

						<input type="text" class="form-control no-edit" value="{% if intervention.client.societe is defined %} {{intervention.client.societe }} {% endif %}" aria-label="Societe" aria-describedby="basic-addon1">


					</div>
				</div>

				<div class="col-md-4">
					<div class="input-group mb-3 mx-1">
						<span class="input-group-text" id="basic-addon1">Nom</span>
						<input type="text" class="form-control no-edit" id="nom" value="{% if intervention.client.nom is defined %}{{intervention.client.nom}} {% endif %}" aria-label="Nom" aria-describedby="basic-addon1">
					</div>

				</div>
				<div class="col-md-4">
					<div class="input-group mb-3 mx-1">
						<span class="input-group-text">Prénom</span>
						<input type="text" id="prenom" class="form-control no-edit" value="{% if intervention.client.prenom is defined %}{{intervention.client.prenom}} {% endif %}" aria-label="Prenom" aria-describedby="basic-addon1">
					</div>
				</div>


			</div>

			<div class="row">
				<div id="resultat_client"></div>
				<div class="col-md-7">
					<div class="input-group mb-3">
						<span class="input-group-text" style="width:100%">Adresse</span>
						<textarea class="form-control no-edit" id="adresse" aria-label="Adresse" aria-describedby="basic-addon1" style="width:100%" rows="2">{% if intervention.client.adresse is defined %}{{intervention.client.adresse}}{% endif %}</textarea>
					</div>
				</div>
				<div class="col-md-5">

					<div class="col-md-12">
						<div class="input-group mb-3 mx-1">
							<span class="input-group-text" id="basic-addon1">Téléphone</span>
							<input type="text" id="telephone" class="form-control no-edit" value="{% if intervention.client.telephone is defined %}{{intervention.client.telephone}} {% endif %}" aria-label="Nom" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="col-md-12">
						<div class="input-group mb-3 mx-1">
							<span class="input-group-text" id="basic-addon1">Mail</span>
							<input type="text" id="mail" class="form-control no-edit" value="{% if intervention.client.mail is defined %}{{intervention.client.mail}} {% endif %} " aria-label="Prenom" aria-describedby="basic-addon1">
						</div>

					</div>

				</div>

			</div>


			<div class="row">


				<div class="d-flex">
					<div class="input-group mb-3 mx-1 w-50">
						<span class="input-group-text" id="basic-addon1">Code postal</span>
						<input type="text" id="codepostal" class="form-control no-edit " value="{% if intervention.client.codepostal is defined %}{{intervention.client.codepostal}} {% endif %} " aria-label="Username" aria-describedby="basic-addon1">
					</div>
					<div class="input-group mb-3 mx-1">
						<span class="input-group-text" id="basic-addon1">Ville</span>
						<input type="text" id="ville" class="form-control no-edit" value="{% if intervention.client.ville is defined %}{{intervention.client.ville}} {% endif %}" aria-label="Username" aria-describedby="basic-addon1">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mx-auto mt-3">
					<h5>
						<b>Matériel</b>
					</h5>
				</div>

			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="input-group mb-3">
						<span class="input-group-text" id="">Marque</span>


						<input id="marque_materiel" type="text" class="form-control no-edit" value="{% if intervention.materiel.materieltype.marque is defined %}{{intervention.materiel.materieltype.marque}} {% endif %}" aria-label="Username" aria-describedby="basic-addon1">


					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Catégorie</span>
						<input id="categorie_materiel" type="text" class="form-control no-edit data_materiel" value="{% if intervention.materiel.materieltype.categorie is defined %}{{intervention.materiel.materieltype.categorie}} {% endif %}" aria-label="Compteur" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="col-md-2">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Modèle</span>
						<input id="modele_materiel" type="text" class="form-control  no-edit data_materiel" value="{% if intervention.materiel.materieltype.modele is defined %}{{intervention.materiel.materieltype.modele}} {% endif %}" aria-label="Username" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="col-md-2">
					<div class="input-group mb-3">
						<span class="input-group-text" id="basic-addon1">Matricule</span>
						<input id="matricule_materiel" type="text" class="form-control  no-edit data_materiel" value="{% if intervention.materiel.matricule is defined %}{{intervention.materiel.matricule}} {% endif %}" aria-label="Username" aria-describedby="basic-addon1">
					</div>
				</div>
				<div
					class="col-md-2 mb-3 ">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Document
					</button>
				</div>


			</div>


			<div class="row mt-3">
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-text w-100" id="basic-addon1">Symptômes</span>
					</div>

					<textarea class="form-control no-edit" name="" id="" cols="10" rows="10" placeholder="Descriptions des problèmes">{% if intervention.symptome is defined %}{{intervention.symptome }}{% endif %}</textarea>


				</div>
				<div class="col-md-6">
					<div class="input-group ">
						<span class="input-group-text" id="basic-addon1">Tavaux réalisé le:</span>
						{% if form is defined %}
							{{form_widget(form.dateIntervention)}}
						{% else %}
							<input type="text" class="form-control " value="{{ (intervention.date)?intervention.date:''}} " aria-label="Username" aria-describedby="basic-addon1">
						{% endif %}

						<span class="input-group-text" id="basic-addon1">Compteur</span>
						{% if form is defined %}
							{{form_widget(form.compteur)}}
						{% else %}
							<input type="text" class="form-control no-edit" value="{% if intervention.compteur is defined %} {{intervention.compteur}} {% endif %} " aria-label="Username" aria-describedby="basic-addon1">
						{% endif %}

					</div>
					{% if form is defined %}
						{{form_widget(form.travaux)}}
					{% else %}
						<textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Détails des travaux">{% if intervention.travaux is defined %}{{intervention.travaux }}{% endif %}</textarea>

					{% endif %}
				</div>
			</div>
			<div class="card-footer d-flex justify-content-end">

				<div>
					{% if form is defined %}
						{{form_widget(form.enregistrer,{'label': enregistrer_label|default('Enregistrer')})}}
					{% else %}
						{% if intervention.id is defined %}

							<a href="{{url('intervention_edit',{'id':intervention.id})}}" class="btn btn-sm btn-primary">Editer</a>
						{% endif %}
					{% endif %}
					{% if form is defined %}
						{{form_end(form,{'render_rest': false})}}
					{% endif %}


				</div>


			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{intervention.materiel.materieltype.marque}} - Documents disponibles
						
						-
						{{intervention.materiel.materieltype.modele}}
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div
					class="modal-body d-flex justify-content-around">
					{#  <p>{{intervention.materiel.materieltype.documentdescription}}</p>
						  <embed src="/upload/{{intervention.materiel.materieltype.document}}" type="application/pdf" width="100%" height="600px" /> #}
					<div>
						<p>Document:
							<a href="/upload/{{intervention.materiel.materieltype.document}}" target="_blank">{{intervention.materiel.materieltype.documenttitre}}</a>
						</p>
						<p>{{intervention.materiel.materieltype.documentdescription|nl2br}}</p>
					</div>

					<div>
						<p>Photo:
							<a href="/upload/{{intervention.materiel.materieltype.photo}}" target="_blank">{{intervention.materiel.materieltype.phototitre}}</a>
						</p>
						<p>{{intervention.materiel.materieltype.photodescription|nl2br}}</p>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
<script>
	$(document).ready(function(){
	        
	        $('.no-edit').attr('readonly','true').css('background-color','e9ecef').css('color','0054a8')
	     
	         $( function() {
	            $("#job_dateIntervention").datepicker({
	                dateFormat:"dd-mm-yy"
	            });
	        
	        } );
		});
</script>



{% endblock %}
