{% extends 'base.html.twig' %}

{% block title %}Technicien{% endblock %}

{% block body %}
    <h1>Technicien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ technicien.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ technicien.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ technicien.prenom }}</td>
            </tr>
            <tr>
                <th>Metier</th>
                <td>{{ technicien.metier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('technicien_index') }}">back to list</a>

    <a href="{{ path('technicien_edit', {'id': technicien.id}) }}">edit</a>

    {{ include('technicien/_delete_form.html.twig') }}
{% endblock %}
