{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block body %}

		<div class="row">
		<div class="col-md-11 mx-auto mb-5">
			<h1><u>Clients</u></h1>
		</div>
	</div>
	<div class="row"  style="min-height:60vh">
		<div class="col-md-11 mx-auto">

			<table class="table" >
				<thead>
					<tr>

						<th>Societe</th>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Adresse</th>
						<th>Codepostal</th>
						<th>Ville</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>

							<td>{{ client.societe }}</td>
							<td>{{ client.nom }}</td>
							<td>{{ client.prenom }}</td>
							<td>{{ client.adresse }}</td>
							<td>{{ client.codepostal }}</td>
							<td>{{ client.mail }}</td>

							<td>
								<a class="btn btn-sm btn-primary"  href="{{ path('client_show', {'id': client.id}) }}">Détail</a>
								<a class="btn btn-sm btn-primary"  href="{{ path('client_edit', {'id': client.id}) }}">Editer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="11">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			
		</div>
	</div>
    
	<div class="row mb-4">

		<div class=" col-md-4 offset-md-4" id="pagination_nav">

			{{ knp_pagination_render(clients) }}


		</div>
		<div class="col-md-4 mx-auto text-center ">

	        <a class="btn btn-sm btn-primary" href="{{ path('client_new') }}">Nouveau client</a>
		</div>
	</div>
   


{% endblock %}
